/* Importações */
@import url(/Design/variaveis.css);

/* Corpo da Página */

body {
    width: 100%;
    height: 100%;
    background-color: var(--cor-terciaria);
    margin: 7.5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Corpo do Conteúdo */

.conteudo__corpo {
    width: 37.5rem;
    height: 28.5rem;
    background-color: var(--cor-quaternaria);
    border-radius: 0.5rem;
    display: flex;
}

.corpo__img-desktop img {
    width: 18.75rem;
    height: 28.5rem;
    border-radius: 8px 0 0 8px;
}

.corpo__img-mobile {
    display: none;
}

/* Estilização do Texto */

.conteudo__descricao {
    width: 14.75rem;
    height: 15.375rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.conteudo__informacoes {
    display: flex;
    flex-direction: column;
}

.descricao__categoria {
    font-family: var(--montserrat);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    text-transform: uppercase;
}

.descricao__titulo {
    font-family: var(--fraunces);
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-primaria);
}

.descricao__texto {
    width: 15rem;
    font-family: var(--montserrat);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    line-height: 1.25rem;
}

/* Estilização do Preço */

.conteudo__preco {
    width: 11.938rem;
    height: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.preco__atual {
    font-family: var(--fraunces);
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-quintaria);
}

.preco__antigo {
    font-family: var(--montserrat);
    font-size: 0.813rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    text-decoration: line-through;
}

/* Estilização do Botão */

.conteudo__botao {
    width: 14.75rem;
    height: 3.125rem;
    background-color: var(--cor-quintaria);
    font-family: var(--montserrat);
    font-size: 0.875rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.588rem;
    margin: 1rem 0 2rem 2rem;
    border-radius: 0.5rem;
}

.conteudo__botao:hover {
    background-color: var(--cor-sextaria);
}

.conteudo__botao img {
    width: 18px
}

.botao__compra {
    text-decoration: none;
    color: var(--cor-quaternaria);
}